@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500;600;700&family=Syne:wght@400;500;600;700&family=Vollkorn+SC:wght@400;600;700&display=swap');

/*
font-family: 'Sansita Swashed', cursive;
font-family: 'Syne', sans-serif;
font-family: 'Vollkorn SC', serif;
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2c2e2f;
  color: white;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://images.pexels.com/photos/2362004/pexels-photo-2362004.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

/* =====POSTS===== */
.post-title {
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.post-author {
  font-family: 'Vollkorn SC', serif;
  font-size: 21px;
  margin-left: 15px;
}

.post-location {
  font-family: 'Vollkorn SC', serif;
  color: #adb5bd;
  font-size: 12px;
}

.author {
  display: flex;
  justify-content: flex-start;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.description {
  font-family: 'Syne', sans-serif;
  font-size: 18px;
  font-weight: 500px;
  margin-left: 15px;
  margin-top: 10px;
}

.posts-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: 100%;
  border: 1px solid #5f6469;
  border-radius: 3px;
  margin: 15px 0;
  background-color: #3e3f42;
}

.post-img {
  width: 100%;
  height: 100%;
}

.img-div {
  overflow: hidden;
}

.posts-container {
  width: 55%;
  margin: auto;
}
/* ========== */

/* =====COMMENTS===== */
.line-comments, .commentarea-line {
  background-color: #adb5bd;
  width: 98%;
  height: 1px;
  margin: auto;
}

.commentarea-line {
  margin-bottom: 4px;
}

.comment-list {
  list-style: none;
  margin: 20px 15px 25px 15px;
}

.post-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
  padding: .2em;
}

.commentName {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  color: #898d91;
  margin-right: 15px;
}

.comment {
  font-family: 'Syne', sans-serif;
  width: 75%;
}

.add-comment-area {
  width: 100%;
}

#commentName {
  width: 20%;
  padding: 5px;
  border: none;
  background-color: #3e3f42;
  color: #d9dee2;
}

#comment {
  width: 59%;
  padding: 5px;
  border: none;
  background-color: #3e3f42;
  color: #d9dee2;
}

.add-comment {
  width: 17%;
  padding: 5px;
  border: none;
  background-color: #3e3f42;
  color: #6c6f73;
  font-family: 'Syne', sans-serif;
  transition: 0.3s all;
}

.add-comment:hover {
  cursor: pointer;
  color: #cccad2;
}
/* ========== */

summary {
  font-size: .7em;
  style: none;
}

.appName {
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
  font-size: 14vw;
}
.create{
  text-align: center;
  margin: 1em;
}

input[type=text]{
  width: 60%;
}
